<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anderpri.das_grupal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DAS_Grupal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.ListaEquiposInscritos"
            android:exported="false" />
        <activity
            android:name=".activities.AceptarRechazarActividad"
            android:exported="false" />
        <activity
            android:name=".activities.SugerirActividad"
            android:exported="false" />
        <activity
            android:name=".activities.CrearActividad"
            android:exported="false" />
        <activity
            android:name=".activities.ListaActividadesNoInscrito"
            android:exported="false" />
        <activity
            android:name=".activities.ListaActividadesAdmin"
            android:exported="false" />
        <activity
            android:name=".activities.VisualizarInfoActividad"
            android:exported="false" />
        <activity
            android:name=".activities.ListaActividadesInscrito"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginCreate"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginCreateTeam"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginFindTeam"
            android:exported="false" />
        <activity
            android:name=".activities.login.LoginTeamButtons"
            android:exported="false" />
        <activity
            android:name=".activities.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.login.LoginMain"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".activities.OtraActividad"
            android:exported="false" />
        <activity
            android:name=".controllers.widget.WidgetConfigureActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".controllers.widget.Widget"
            android:exported="true"
            android:label="Widget DAS">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conf" />
        </receiver>
    </application>

</manifest>